@using OnlineCourseRegistration.ViewModel 

@{
	List<string> CourseList = new List<string>()
	{
		"C#","ASP.NET","Blazer","React","Python"
	};
	 
}
<div class="container mt-3 form-control">
	<h3> Registration Form</h3>
	<hr />
	<form method="post" asp-action="SubmitRecord">
		<div class="mb-3">
			<label for="studentname" class="form-label">Student Name</label>	<br />
			<input id="firstname" type="text" name="FName" class="form-control-sm" placeholder="First Name" />
			<input id="middlename" type="text" name="MName" class="form-control-sm" placeholder="Middle Name" />
			<input id="lastname" type="text" name="LName" class="form-control-sm" placeholder="Last Name" />
		</div>
		<div class="row">
		<div class="mb-3 col-6"> 
			<label for="DOB" class="form-label">Birth Date</label>	<br />
			<input id="DOB" type="date" name="DOB" class="form-control-sm"/>
		</div>
		<div class="mb-3 col-6">
			<label for="gender" class="form-label">Gender</label>	<br /> 
			<input id="gender" type="radio" name="gender" class="form-check-input" />Male
				<input id="gender" type="radio" name="gender" class="form-check-input" />Female
			</div>
		</div>
		<div class="mb-3">
			<label for="address" class="form-label">Student Address</label>	<br />
			<input id="address" type="text" name="address" class="form-control"  placeholder="Student Address" />
		</div>
		<div class="row">
			<div class="mb-3 col-6">
				<label for="city" class="form-label">City</label>	<br />
				<input id="city" type="text" name="city" class="form-control-sm" placeholder="City" />
			</div>
			<div class="mb-3 col-6">
				<label for="country" class="form-label">Country</label>	<br />
				<input id="country" type="text" name="country" class="form-control-sm" placeholder="Country" /> 
			</div>
		</div>
		<div class="row">
			<div class="mb-3 col-6">
				<label for="email" class="form-label">Email</label>	<br />
				<input id="email" type="email" name="email" class="form-control-sm" placeholder="Email" />
			</div>
			<div class="mb-3 col-6">
				<label for="contactno" class="form-label">Contact Number</label>	<br />
				<input id="contactno" type="text" name="contactno" class="form-control-sm" placeholder="Contactno" />
			</div>
		</div>
		<div class="mb-3">
			<label for="course" class="form-label">Course</label>	<br />
			<select id="course" name="course" class="form-select-sm">
				<option value="">Select course</option>
				@foreach (var @item in CourseList)
				{
					<option value="@item">@item</option>
				}
			</select> 
		</div>
		<div class="mb-3 text-center">
			<button type="submit" value="submit" class="btn btn-primary">Submit</button> 
		</div>
	</form>
</div>